<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>우편, 우리의 편지</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="div-view">
        <div class="div-main-box">
           
            <div class="div-title" style="padding-top: 40px;">
                <%=q_cnt%>개 중 <%=q_num_kor%> 질문,
            </div>
            <div class="div-make-box" style="padding-top: 50px;">
                <form method="post" action="/solve/question/">
                 <input type="hidden" name="q_cnt" value="<%=q_cnt%>">
                  <input type="hidden" name="q_num" value="<%=q_num%>">
                   <input type="hidden" name="url_id" value="<%=url_id%>">
                    <div class="div-question-form" style="margin-bottom: 30px;">
                        <div class="div-q-upper">
                            <input name="origin_question" class="input-q-question" maxlength="25" value="<%=question%>" readonly></div>
                        <hr class="hr-q-line">
                        <div class="div-q-lower">
                            <input name="answer" class="input-q-answer" placeholder="여기에 정답을 입력하세요!" maxlength="25"></div>
                    </div>
                    <p id="p_ans_msg"><% if(locals.msg){ %> <%=locals.msg%><% } %></p>
                    <input class="input-make-bt" type="submit" value="다음으로">
                </form>
            </div>
        </div>
    </div>
</body></html>